body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: url('backgroundImage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.container {
  height: 100px;
  width: 100px;
  position: absolute;
}
#rocket {
  width: 100px;
  height: 100px;
  transition: 0.5s ease-in-out;
}
