* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #fff;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  height: auto;
  background-color: #000;
  border-radius: 20px;
  padding: 40px;
}
h1 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
}
input::placeholder {
  color: #ccc;
}
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
button:hover {
  background-color: #45a049;
}
